[submodule "XBeeAPI_lib"]
	path = XBeeAPI_lib
	url = https://github.com/SatoshiRC/XBee3.0-API.git
[submodule "encorer_lib"]
	path = encorer_lib
	url = https://gitlab.com/grcc/library/encoder.git
[submodule "sound_lib"]
	path = sound_lib
	url = https://gitlab.com/takuji.coroton.thanks/pwm-sound.git
[submodule "lcd_lib"]
	path = lcd_lib
	url = https://gitlab.com/takuji.coroton.thanks/lcd-st7032.git
[submodule "PWM_Sound"]
	path = PWM_Sound
	url = https://gitlab.com/takuji.coroton.thanks/pwm-sound.git
[submodule "HAL_Extension"]
	path = HAL_Extension
	url = https://github.com/roboken-G/HAL_Extension.git
